<html>

<head>
    <meta title="vue">
    <meta charset="UTF-8">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
    <link rel="stylesheet" href=".\vue.css" type="text/css">
    <style>
        .fade-enter,
        .fade-leave-to {
            opacity: 0;
        }
        
        .fade-enter-active,
        .fade-leave-active {
            transition: opacity 1s;
        }
    </style>
</head>

<body>
    <div id="app">
        <section>
            <div class="container">
                <div class="title">
                    <div class="menu">
                        <a v-if="index != 0" class="arrow left" v-on:click="changeIndex(-1)"></a>
                        <transition name="fade" mode="out-in" appear>
                            <div class="menuItem" v-for="(item,i) in menu" v-if="index === i" :key="item.title">
                                <span class="number">{{ index+1 }}</span>
                                <span class="type">{{ item.type }}</span>
                                <a :href="item.link" target="vue-iron" class="title">
                                    {{ item.title }}
                                </a>
                            </div>
                        </transition>


                        <a v-if="index != total-1" class="arrow right" v-on:click="changeIndex(1)"></a>

                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        let data = {
            input: {
                type: '主廚的話',
                title: ''
            },
            index: 0,
            menu: [{
                type: '主廚的話',
                title: '餐點簡介與相關說明',
                link: 'javascript:;'
            }, {
                type: '餐具擺盤',
                title: '萬用白瓷 VS Code 與套裝工具組',
                link: 'javascript:;'
            }, {
                type: '開胃餐點',
                title: '中式資料綁定佐無毒 jQuery 畫面處理',
                link: 'javascript:;'
            }, {
                type: '開胃餐點',
                title: '古早味事件燉畫面綁定',
                link: 'javascript:;'
            }, {
                type: '開胃餐點',
                title: '清爽表單處理佐雙向資料',
                link: 'javascript:;'
            }, {
                type: '開胃餐點',
                title: '使用者輸入焗列表呈現',
                link: 'javascript:;'
            }, {
                type: '開胃餐點',
                title: '期間限定篩選佐資料轉換',
                link: 'javascript:;'
            }, {
                type: '開胃餐點',
                title: '峰峰相連互動式資料表單',
                link: 'javascript:;'
            }, {
                type: '風味沙拉',
                title: '天然 CSS 過場佐 jQuery 動畫',
                link: 'javascript:;'
            }, {
                type: '風味沙拉',
                title: '異國風情資料觀測與設定',
                link: 'javascript:;'
            }, {
                type: '風味沙拉',
                title: '有機發酵生命週期',
                link: 'javascript:;'
            }, {
                type: '總匯拼盤',
                title: '家鄉通訊錄佐手作 API #1',
                link: 'javascript:;'
            }, {
                type: '總匯拼盤',
                title: '家鄉通訊錄佐手作 API #2',
                link: 'javascript:;'
            }, {
                type: '用餐插曲',
                title: '怎麼沒有魯肉飯!? 其他菜色瀏覽',
                link: 'javascript:;'
            }, {
                type: '餐具擺盤',
                title: '特製雕花 Vue-cli 3.0 與 Node.js 開發環境',
                link: 'javascript:;'
            }, {
                type: '主廚推薦',
                title: '科學單檔模組化料理',
                link: 'javascript:;'
            }, {
                type: '主廚推薦',
                title: '清燉嫩煮百頁路由',
                link: 'javascript:;'
            }, {
                type: '主廚推薦',
                title: '蜂蜜燴巢狀路由',
                link: 'javascript:;'
            }, {
                type: '主廚推薦',
                title: '五彩繽紛路由參數與監控',
                link: 'javascript:;'
            }, {
                type: '主廚推薦',
                title: '共享式集中數據管理大雜匯',
                link: 'javascript:;'
            }, {
                type: '主廚推薦',
                title: '精緻模組化數據塔',
                link: 'javascript:;'
            }, {
                type: '用餐插曲',
                title: '我吃不下了!! 食用順序的選擇與進程',
                link: 'javascript:;'
            }, {
                type: '總匯拼盤',
                title: '復古總匯 TodoList 燴路由模組',
                link: 'javascript:;'
            }, {
                type: '總匯拼盤',
                title: '復古總匯 TodoList 燴資料模組',
                link: 'javascript:;'
            }, {
                type: '總匯拼盤',
                title: '復古總匯 TodoList 燴頁面模組 #1',
                link: 'javascript:;'
            }, {
                type: '總匯拼盤',
                title: '復古總匯 TodoList 燴頁面模組 #2',
                link: 'javascript:;'
            }, {
                type: '總匯拼盤',
                title: '復古總匯 TodoList 燴頁面模組 #3',
                link: 'javascript:;'
            }, {
                type: '精選甜點',
                title: '靜態渲染 VuePress 漸層飲',
                link: 'javascript:;'
            }, {
                type: '精選甜點',
                title: '風情萬種 Nuxt.js 千層糕',
                link: 'javascript:;'
            }, {
                type: '主廚的話',
                title: '餐後心得與其他資訊',
                link: 'javascript:;'
            }]
        }

        let vm = new Vue({
            el: '#app',
            data: data,
            computed: {
                total() {
                    return this.menu.length
                }
            },
            methods: {
                changeIndex(direction) {
                    this.index = (this.index + direction + this.menu.length) % this.menu.length
                        /*var testIndex = this.index + direction;
                        if (testIndex > -1 && testIndex <= this.menu.length) {
                             this.index = testIndex
                        }*/
                }
            }
        })
    </script>
</body>

</html>